rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /user_preferences/{userId} {
      // WARNING: Insecure rules, allowing anyone to read/write.
      // This should be properly secured before going to production.
      allow read, write: if true;
    }
  }
}